* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

/* .container{
    width: 960px;
    margin: auto;

} */

img {
    vertical-align: middle;

}

.header {
    background-image: url('../images/Banner\ Image.png');
    width: 1180px;
    height: 600px;
    margin: 40px 85px;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
    text-align: right;
}

.header::before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);

}

.heading h3{
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    padding: 177px 0 16px;
}

.heading h2{
    font-size: 72px;
    font-weight: 900;
    color: #fff;
    line-height: 95px;
    text-align: center;
    
    


}



font-family: 'Inter',
sans-serif;
font-family: 'Merriweather',
serif;